//filter过滤器，不可以与js共用！
// wxs目前似乎并不支持ES6（至少let不能使用）
// wxs文件不能被js文件引用。wxs文件能引用wxs文件。
var filters = {
  //手机号格式化
  overPhone: function(phone) {
    var arr = (phone + '').split('')
    arr.splice(3, 4, '****')
    return arr.join('')
  },
  //时间转换
  timefomat: function(val, k) {
    var data = getDate(val) //wxs中不支持new操作符
    var year = data.getFullYear()
    var month = data.getMonth() + 1
    var day = data.getDate()
    var hour = data.getHours()
    var min = data.getMinutes()
    var sec = data.getSeconds()
    if (month.length < 2) {
      month = '0' + month
    }
    //console.log(year+'-'+month+'-'+day+' '+hour+':'+min+':'+sec)
    // return year+'-'+month+'-'+day+' '+hour+':'+min+':'+sec
    if (month < 10) {
      month = '0' + month
    }
    if (day < 10) {
      day = '0' + day
    }
    if (hour < 10) {
      hour = '0' + hour
    }
    if (min < 10) {
      min = '0' + min
    }
    if (sec < 10) {
      sec = '0' + sec
    }
    if (k) return year + '-' + month + '-' + day;
    else return year + '-' + month + '-' + day + ' ' + hour + ':' + min + ':' + sec
  },
  tofixed: function(v) {
    return parseFloat(v).toFixed(2)
  },
  inclubse: function(arr, id) {
    // console.log(arr.length,JSON.stringify(arr), id)
    return arr.indexOf(id)>-1
  },
  allNum:function (item){
    return item.reduce(function (per, item, idx) { return item.num + per} , 0)
  },
  btnText:function(item) {
    var arr = [], allcancle = item.items.every(function (it) { return it.status_name === '已退款'} );
    if (!item.is_pay) arr = [{ text: '立即付款', active: true, idx: 2 }];
    else if (item.is_pay && !item.is_send && !allcancle) arr = [{ text: '取消订单', idx: 1 }];
    // else if (item.is_pay && item.is_send) arr = [{ text: '查看物流', idx: 3 }];
    return arr;
  },
  Calculation:function (item) {
    return (item.reduce(function (per, item, idx) { return per + (item.product_price * item.num)},0)).toFixed(2);
  },
  orderStatus:function(item, k) {//订单状态 0
    var allCancle = item.items.every(function(it){return it.status_name === '已退款'});
    if (!item.is_pay) return '待付款';
    else if (item.is_pay && !item.is_send && !k) return '';//待采购时不需要显示
    else if (item.is_pay && item.is_send) return '已发货';
    else if (k && item.is_pay && !item.is_send && allCancle) return '已退单';
    else if (k && item.is_pay && !item.is_send && !allCancle) return '待采购';
  },
  allIcon:function(item) {
    if (!item.is_pay) return 'paid';//待付款
    else if (item.is_pay && !item.is_send) return 'logistics';//待采购
    else if (item.is_pay && item.is_send) return 'passed';//已发货
},
}

module.exports = filters